<h1>Listing Events</h1>

<table>
	<tr>
		<th>title</th>
		<th>venue</th>
		<th>date</th>
		<th>time</th>
		<th>description</th>
		<th>invitees</th>
		<th>status</th>
	</tr>


<% @schedules.each do |schedule| %>
<tr>		
<td><%= schedule.title %></td>
<td><%= schedule.venue %></td>
<td><%= schedule.date %></td>
<td><%= schedule.time %></td>
<td><%= schedule.description %></td>
<td><%= schedule.status %></td>
<td><%= schedule.invitees %></td>



</tr>
<% end %>
</table>
