<h1 align="center">Event list</h1>
<center>
<%= form_for :schedule do |f| %>
 
   <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
   <p>
    <%= f.label :venue %><br />
    <%= f.text_field :venue %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </p>
   <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
   <p>
    <%= f.label :invitees %><br />
    <%= f.password_field :invitees %>
  </p>
   <p>
   <%= f.select :status, ['open', 'closed']%>
  </p>

  <p class="button"><%= f.submit %></p>
<% end %>
</center>