<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><h1>Event Scheduler</h1></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li> <%= link_to "Sign_in", sign_up_path %><a href="sign_in"></a></li>
      <li> <%= link_to "log_in", log_in_path %><a href="log_in"></a></li>
    </ul>
  </div>
</nav>




<h1 align="center">Log in</h1>
<center>
<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :username %><br />
    <%= text_field_tag :username, params[:username] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %>
</center>